<app-header></app-header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="site-footer footer-color">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="footer-section">
          <h5>Enlaces rápidos</h5>
          <ul class="footer-links">
            <li><a href="#">Inicio</a></li>
            <li><a href="#">Series</a></li>
            <li><a href="#">Películas</a></li>
            <!-- Agrega más enlaces según sea necesario -->
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="footer-section">
          <h5>Contacto</h5>
          <ul class="footer-contact">
            <li>Correo: jm.bermudezv1@uniandes.co</li>
            <li>Teléfono: 123-456-7890</li>
            <!-- Otros detalles de contacto -->
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p>&copy; <span id="currentYear"></span> Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>

<script>
  // Obtener el año actual
  document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>
