<app-header></app-header>
<div class="container">
  <router-outlet></router-outlet>
</div>
<footer class="site-footer footer-color">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="footer-section">
          <h5 i18n>Enlaces rápidos</h5>
          <ul class="footer-links">
            <li><a i18n href="#">Inicio</a></li>
            <li><a i18n href="#">Series</a></li>
            <li><a i18n href="#">Películas</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-6">
        <div class="footer-section">
          <h5 i18n>Contacto</h5>
          <ul class="footer-contact">
            <li i18n>Correo: jm.bermudezv1@uniandes.co</li>
            <li i18n>Teléfono: 123-456-7890</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p i18n>&copy; <span id="currentYear"></span> Todos los derechos reservados</p>
      </div>
    </div>
  </div>
</footer>

<script>
  document.getElementById('currentYear').textContent = new Date().getFullYear();
</script>
